<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What's my IP</title>
    <link rel="stylesheet" href="../assets/main.css">
</head>
<body>
    <nav><a href="https://www.ronald-luo.com/100-websites/"><img src="https://s2.svgbox.net/hero-outline.svg?ic=arrow-left&color=fff" width="32" height="32"></a></nav>
    <div class='container'>
        <h1> your ip address is </h1>
        <p>
            <%= ip %>
        </p>
    </div>
</body>
</html>